Import the modules and specify where the data is located

In [1]:
import os

In [2]:
os.chdir('..')
cwd = os.getcwd()

In [3]:
import pandas as pd
import json 
data_dir = '/data/' #path to the data folder which contains a 'pre-processed' folder within it

In [4]:
'''a lot of the text cells such as genres, keywords, cast etc store values as a string of dictionaries
this function combines multiple dictionaries in a string into one dictionaries

sample input: [{"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 28, "name": "Action"}, {"id": 10749, "name": "Romance"}]

sample output: {'id': [12, 14, 28, 10749], 'name': ['Adventure', 'Fantasy', 'Action', 'Romance']}
'''
def list_to_dict(dict_list):
    new_dict = {}
    for k,v in [(key,d[key]) for d in dict_list for key in d]:
        if k not in new_dict: 
            new_dict[k]=[v]
        else: 
            new_dict[k].append(v)
        
    return new_dict

In [5]:
#loading the data from the pickled file
data = pd.read_pickle(cwd+data_dir + 'pre-processed/movie_details_join.pkl')
data.head() #quick look at the data

,budget,id,popularity,revenue,runtime,vote_average,vote_count,genres,keywords,original_language,original_title,overview,production_companies,production_countries,release_date,spoken_languages,movie_id,cast,crew
0,105000000,64682,61.196071,351040419,143.0,7.3,3769,"[{""id"": 18, ""name"": ""Drama""}, {""id"": 10749, ""n...","[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,The Great Gatsby,An adaptation of F. Scott Fitzgerald's Long Is...,"[{""name"": ""Village Roadshow Pictures"", ""id"": 7...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2013-05-10,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",64682,"[{""cast_id"": 2, ""character"": ""Jay Gatsby"", ""cr...","[{""credit_id"": ""52fe46e3c3a368484e0a982d"", ""de..."
1,150000000,9543,62.169881,335154643,116.0,6.2,2317,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...","[{""id"": 1241, ""name"": ""persia""}, {""id"": 1965, ...",en,Prince of Persia: The Sands of Time,A rogue prince reluctantly joins forces with a...,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2010-05-19,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",9543,"[{""cast_id"": 5, ""character"": ""Prince Dastan"", ...","[{""credit_id"": ""567e74d4c3a36860e9008e46"", ""de..."
2,140000000,5174,22.571780,258022233,91.0,6.1,783,"[{""id"": 28, ""name"": ""Action""}, {""id"": 35, ""nam...","[{""id"": 1704, ""name"": ""ambassador""}]",en,Rush Hour 3,After an attempted assassination on Ambassador...,"[{""name"": ""New Line Cinema"", ""id"": 12}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-08-08,"[{""iso_639_1"": ""la"", ""name"": ""Latin""}, {""iso_6...",5174,"[{""cast_id"": 2, ""character"": ""Det. James Carte...","[{""credit_id"": ""52fe43fac3a36847f807b5bd"", ""de..."
3,145000000,1735,60.034162,401128639,112.0,5.2,1387,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 28, ""...",[],en,The Mummy: Tomb of the Dragon Emperor,"Archaeologist Rick O'Connell travels to China,...","[{""name"": ""Universal Pictures"", ""id"": 33}, {""n...","[{""iso_3166_1"": ""DE"", ""name"": ""Germany""}, {""is...",2008-07-01,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",1735,"[{""cast_id"": 1, ""character"": ""Richard O'Connel...","[{""credit_id"": ""52fe4312c3a36847f80384c5"", ""de..."
4,27000000,79698,2.418535,0,109.0,4.8,34,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",[],en,The Lovers,The Lovers is an epic romance time travel adve...,"[{""name"": ""Corsan"", ""id"": 7299}, {""name"": ""Bli...","[{""iso_3166_1"": ""AU"", ""name"": ""Australia""}, {""...",2015-02-13,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",79698,"[{""cast_id"": 11, ""character"": ""James Stewart /...","[{""credit_id"": ""52fe49e0c3a368484e145067"", ""de..."

### Converting the messy strings into neat dictionaries. 

This can be used later to add columns with id only for example

In [7]:
data_copy = data.copy() #copy the dataframe so that the original isn't altered
cols_to_dict = ['genres', 'keywords', 'production_companies', 'production_countries',
            'spoken_languages', 'cast', 'crew'] #list of columns that need to be converted from string to dictionary 

def convert_to_dict(df, subset):
    for column in subset: #iterating through every column that needs to be converted to dict
        for i in range(len(df)): #iterating through every movie
            str_entry = data[column][i] #get the contents of the entry as string
            list_of_dict = json.loads(str_entry) #convert string into a list of dictionaries
            df[column][i] = list_to_dict(list_of_dict) #convert list of dictionaries to one dictionary

    data_copy.to_pickle(cwd+data_dir+"pre-processed/movie_details_neat.pkl")
    return data_copy

data_copy = convert_to_dict(data_copy, cols_to_dict)
data_copy.head()

/Users/admin/.local/share/virtualenvs/datatonic-challenge-ErycU493/lib/python3.7/site-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.

,budget,id,popularity,revenue,runtime,vote_average,vote_count,genres,keywords,original_language,original_title,overview,production_companies,production_countries,release_date,spoken_languages,movie_id,cast,crew
0,105000000,64682,61.196071,351040419,143.0,7.3,3769,"{'id': [18, 10749], 'name': ['Drama', 'Romance']}","{'id': [818, 1326, 1523, 3929, 209714], 'name'...",en,The Great Gatsby,An adaptation of F. Scott Fitzgerald's Long Is...,"{'name': ['Village Roadshow Pictures', 'Bazmar...","{'iso_3166_1': ['US', 'AU'], 'name': ['United ...",2013-05-10,"{'iso_639_1': ['en'], 'name': ['English']}",64682,"{'cast_id': [2, 5, 3, 8, 6, 4, 7, 22, 13, 23, ...","{'credit_id': ['52fe46e3c3a368484e0a982d', '52..."
1,150000000,9543,62.169881,335154643,116.0,6.2,2317,"{'id': [12, 14, 28, 10749], 'name': ['Adventur...","{'id': [1241, 1965, 12653, 12654, 12655, 41645...",en,Prince of Persia: The Sands of Time,A rogue prince reluctantly joins forces with a...,"{'name': ['Walt Disney Pictures', 'Jerry Bruck...","{'iso_3166_1': ['US'], 'name': ['United States...",2010-05-19,"{'iso_639_1': ['en'], 'name': ['English']}",9543,"{'cast_id': [5, 2, 7, 4, 6, 8, 9, 10, 26, 27, ...","{'credit_id': ['567e74d4c3a36860e9008e46', '52..."
2,140000000,5174,22.571780,258022233,91.0,6.1,783,"{'id': [28, 35, 80, 53], 'name': ['Action', 'C...","{'id': [1704], 'name': ['ambassador']}",en,Rush Hour 3,After an attempted assassination on Ambassador...,"{'name': ['New Line Cinema'], 'id': [12]}","{'iso_3166_1': ['US'], 'name': ['United States...",2007-08-08,"{'iso_639_1': ['la', 'en', 'fr', 'ja', 'zh'], ...",5174,"{'cast_id': [2, 3, 4, 5, 6, 7, 8, 9, 26, 27, 2...","{'credit_id': ['52fe43fac3a36847f807b5bd', '52..."
3,145000000,1735,60.034162,401128639,112.0,5.2,1387,"{'id': [12, 28, 14], 'name': ['Adventure', 'Ac...",{},en,The Mummy: Tomb of the Dragon Emperor,"Archaeologist Rick O'Connell travels to China,...","{'name': ['Universal Pictures', 'China Film Co...","{'iso_3166_1': ['DE', 'US'], 'name': ['Germany...",2008-07-01,"{'iso_639_1': ['en', 'zh', 'sa'], 'name': ['En...",1735,"{'cast_id': [1, 2, 8, 12, 13, 14, 15, 16, 17, ...","{'credit_id': ['52fe4312c3a36847f80384c5', '52..."
4,27000000,79698,2.418535,0,109.0,4.8,34,"{'id': [28, 12, 878, 10749], 'name': ['Action'...",{},en,The Lovers,The Lovers is an epic romance time travel adve...,"{'name': ['Corsan', 'Bliss Media', 'Limelight ...","{'iso_3166_1': ['AU', 'BE', 'IN'], 'name': ['A...",2015-02-13,"{'iso_639_1': ['en'], 'name': ['English']}",79698,"{'cast_id': [11, 13, 22, 17, 14, 15, 16, 18, 1...","{'credit_id': ['52fe49e0c3a368484e145067', '57..."

Sanity checks, set run to True to actually run the cell

In [10]:
run = True
if run is True:
    #checking that everything was converted to dict
    for column in data_copy:
        print(type(data_copy[column][0]))

    print(data_copy['genres'][1])
    data_copy.head()

<class 'numpy.int64'>
<class 'numpy.int64'>
<class 'numpy.float64'>
<class 'numpy.int64'>
<class 'numpy.float64'>
<class 'numpy.float64'>
<class 'numpy.int64'>
<class 'dict'>
<class 'dict'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'dict'>
<class 'dict'>
<class 'str'>
<class 'dict'>
<class 'numpy.int64'>
<class 'dict'>
<class 'dict'>
{'id': [12, 14, 28, 10749], 'name': ['Adventure', 'Fantasy', 'Action', 'Romance']}

### Creating id maps

The code below creates a nested dictionary, where it is easy to look up which id corresponds to which keyword

In [12]:
def make_id_maps(subset):
    id_maps = {'genres'               : {},
               'keywords'             : {}, 
               'production_companies' : {},
               'production_countries' : {},
               'spoken_languages'     : {}}

    for column in subset: 
        dict_list = []
        for i in range(len(data_copy)):
            dict_list.append(data_copy[column][i]) #add all dictionaries into one list
        #create a new dictionary from the list, this only has as many entries as there are unique values
        new_dict = list_to_dict(dict_list)
        keys = list(new_dict)
        assert len(keys) == 2 #only id and name corresponding to the id

        id_list = []
        name_list = []
        new_dict
        for i in range(len(new_dict[keys[0]])):
            if column == 'production_companies': #id and name are rversed but only for production companies
                id_list += new_dict[keys[1]][i]
                name_list += new_dict[keys[0]][i]
            else:    
                id_list += new_dict[keys[0]][i]
                name_list += new_dict[keys[1]][i]
        id_map_per_column = dict(zip(id_list, name_list))
        id_maps[column] = id_map_per_column

    #save the file as json
    with open(cwd+data_dir+'pre-processed/id_maps.json', 'w') as fp:
        json.dump(id_maps, fp)
    
    return id_maps
        
id_maps = make_id_maps(cols_to_dict[:-2]) #skipping cast and crew as it's more complicated (there are more than 2 keys)

In [13]:
#test

id_maps['genres']

{18: 'Drama',
 10749: 'Romance',
 12: 'Adventure',
 14: 'Fantasy',
 28: 'Action',
 35: 'Comedy',
 80: 'Crime',
 53: 'Thriller',
 878: 'Science Fiction',
 27: 'Horror',
 9648: 'Mystery',
 10751: 'Family',
 16: 'Animation',
 10752: 'War',
 36: 'History',
 37: 'Western',
 10402: 'Music',
 99: 'Documentary',
 10769: 'Foreign',
 10770: 'TV Movie'}