# ML-Prediction ANN

In [1]:
import pandas as pd
import numpy as np
import os
import json
from collections import Counter
from sklearn.preprocessing import MultiLabelBinarizer
import sys

In [2]:
import sys
sys.path.insert(0, os.path.abspath('/Users/admin/Documents/Jobs/Datatonic/datatonic-challenge/utils/')) #point this to the where util is relatively to your working directory
from util import *

data_dir = get_path_to_data_dir()
print(data_dir) #check that it's correct

/Users/admin/Documents/Jobs/Datatonic/datatonic-challenge/data/

In [24]:
#loading the data from the pickled file
movie_data = pd.read_pickle(data_dir + 'pre-processed/movie_encoded_only_numeric.pkl')

In [25]:
movie_data

,budget,id,revenue,runtime,vote_average,vote_count,release_date,lead_male,lead_female,lead2_male,...,Yasiin Bey,Yul Vazquez,Zac Efron,Zach Galifianakis,Zachary Woodlee,Zak Penn,Zeljko Ivanek,Zhang Ziyi,Zoe Saldana,Zooey Deschanel
0,105000000,64682,351040419,143.0,7.3,3769,130,1,0,1,...,0,0,0,0,0,0,0,0,0,0
1,150000000,9543,335154643,116.0,6.2,2317,139,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2,140000000,5174,258022233,91.0,6.1,783,220,1,0,1,...,0,0,0,0,0,0,0,0,0,0
3,145000000,1735,401128639,112.0,5.2,1387,183,1,0,1,...,0,0,0,0,0,0,0,0,0,0
4,15000000,315011,77000000,120.0,6.5,143,211,1,0,1,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3069,14000000,33693,76901,85.0,6.3,8,263,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3070,12000,692,6000000,93.0,6.2,110,72,1,0,0,...,0,0,0,0,0,0,0,0,0,0
3071,20000,36095,99000,111.0,7.4,63,310,1,0,1,...,0,0,0,0,0,0,0,0,0,0
3072,7000,14337,424760,77.0,6.9,658,282,1,0,1,...,0,0,0,0,0,0,0,0,0,0
3073,220000,9367,2040920,81.0,6.6,238,248,1,0,0,...,0,0,0,0,0,0,0,0,0,0

### Normalise the data
The initial data.describe() for `'budget'` shows the extreme jump from the 75% confidence interval to the maximum value.  Even with the removal of the z values exceeding 3 stds, budget requires transformation.

##### Normalising function

In [21]:
def normalize(column):
    upper = column.max()
    lower = column.min()
    y = (column - lower)/(upper-lower)
    return y

In [23]:
def feature_scaling(column, df):
    print(column, df)
    cube_root = df[column]**(1/3)
    cube_norm = normalize(cube_root)
    df[column] = cube_norm

columns_to_scale = ['budget', 'revenue', 'runtime', 'release_date']
for column in columns_to_scale:
    movie_data = feature_scaling(column, movie_data)

budget None

TypeError: 'NoneType' object is not subscriptable